.h0 {
    font-size: 32px;
}

h1, .h1 {
    font-size: 26px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 18px;
}

h4, .h4 {
    font-size: 16px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 13px;
}

.invalid-feedback {
    font-size: 90%;
}

.form-help {
    font-size: 90%;
}

.hidden {
    display: none;
}

body {
    font-family: 'Oxygen', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

body, .btn, .dropdown-menu, .form-control {
    font-size: 14px !important;
}

.navigation .nav-item a {
    font-size: 15px !important;
}

.card {
    border: 1px solid #e7eaf3;
    border-radius: 0.3125rem;
}

.thumbnail .card .card-body {
    padding: 15px;
}

.thumbnail .badge {
    font-size: 12px;
}

.navigation .navbar-brand {
    font-weight: bold;
}

.navigation .navbar-brand a {
    font-weight: bold;
}

.navigation.navbar {
    border-bottom: 1px solid #e7eaf3;
}

.navigation .navbar-brand a {
    color: rgb(108, 117, 125);
}

.serand-details .actions .btn {
    flex: none !important;
}

.serand-hw-16 {
    width: 16px;
    height: 16px;
}

.serand-icon-text-16 img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.serand-icon-text-16 span {
    vertical-align: middle;
}

.themes-blocks-steps .nav-pills {
    position: relative;
}

.themes-blocks-steps .nav-pills .nav-link {
    background: none;
    color: #6c757d;
}

.themes-blocks-steps .nav-pills .nav-link.active {
    color: #007bff;
}

.themes-blocks-steps .rounded-circle {
    border: 2px solid;
    width: 75px;
    height: 75px;
    margin: auto;
    line-height: 4.5rem;
    z-index: 2;
    position: relative;
    background-color: #ffffff;
}

.themes-blocks-steps .connecting-line {
    height: 2px;
    background: #6c757d;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.themes-blocks-uploads .upload-actions {
    position: absolute;
    right: 0;
    background-image: linear-gradient(to top, hsla(0,0%,90%,0), rgba(0,0,0,1));
}

.themes-blocks-uploads .upload-actions btn {
    padding: 5px;
}

.title-text {
    font-weight: 500;
}

.text-primary {
    color: #377dff !important;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #0052ea !important;
}

.text-secondary {
    color: #71869d !important;
}

a.text-secondary:focus,
a.text-secondary:hover {
    color: #4f6072 !important;
}

.text-success {
    color: #00c9a7 !important;
}

a.text-success:focus,
a.text-success:hover {
    color: #007d67 !important;
}

.text-info {
    color: #09a5be !important;
}

a.text-info:focus,
a.text-info:hover {
    color: #066675 !important;
}

.text-warning {
    color: #f5ca99 !important;
}

a.text-warning:focus,
a.text-warning:hover {
    color: #eea653 !important;
}

.text-danger {
    color: #de4437 !important;
}

a.text-danger:focus,
a.text-danger:hover {
    color: #ac281c !important;
}

.text-light {
    color: #f7faff !important;
}

a.text-light:focus,
a.text-light:hover {
    color: #abcaff !important;
}

.text-dark {
    color: #1e2022 !important;
}

a.text-dark:focus,
a.text-dark:hover {
    color: #000 !important;
}

.text-indigo {
    color: #2d1582 !important;
}

a.text-indigo:focus,
a.text-indigo:hover {
    color: #160a40 !important;
}

.text-navy {
    color: #21325b !important;
}

a.text-navy:focus,
a.text-navy:hover {
    color: #0d1323 !important;
}

.text-body {
    color: #677788 !important;
}

.btn:hover {
    color: #677788;
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.25);
}

.btn.disabled, .btn:disabled {
    opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #377dff;
    border-color: #377dff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1164ff;
    border-color: #045cff;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #1164ff;
    border-color: #045cff;
    box-shadow: 0 0 0 0.2rem rgba(85, 145, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #377dff;
    border-color: #377dff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #045cff;
    border-color: #0056f6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 145, 255, 0.5);
}

.btn-secondary {
    color: #fff;
    background-color: #71869d;
    border-color: #71869d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5f7389;
    border-color: #596d82;
}

.btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #5f7389;
    border-color: #596d82;
    box-shadow: 0 0 0 0.2rem rgba(134, 152, 172, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #71869d;
    border-color: #71869d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #596d82;
    border-color: #54667a;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(134, 152, 172, 0.5);
}

.btn-success {
    color: #fff;
    background-color: #00c9a7;
    border-color: #00c9a7;
}

.btn-success:hover {
    color: #fff;
    background-color: #00a387;
    border-color: #00967d;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #00a387;
    border-color: #00967d;
    box-shadow: 0 0 0 0.2rem rgba(38, 209, 180, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #00c9a7;
    border-color: #00c9a7;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #00967d;
    border-color: #008972;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 209, 180, 0.5);
}

.btn-info {
    color: #fff;
    background-color: #09a5be;
    border-color: #09a5be;
}

.btn-info:hover {
    color: #fff;
    background-color: #078599;
    border-color: #077b8d;
}

.btn-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #078599;
    border-color: #077b8d;
    box-shadow: 0 0 0 0.2rem rgba(46, 179, 200, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #09a5be;
    border-color: #09a5be;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #077b8d;
    border-color: #067081;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 179, 200, 0.5);
}

.btn-warning {
    color: #1e2022;
    background-color: #f5ca99;
    border-color: #f5ca99;
}

.btn-warning:hover {
    color: #1e2022;
    background-color: #f2b876;
    border-color: #f0b26b;
}

.btn-warning:focus, .btn-warning.focus {
    color: #1e2022;
    background-color: #f2b876;
    border-color: #f0b26b;
    box-shadow: 0 0 0 0.2rem rgba(213, 177, 135, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
    color: #1e2022;
    background-color: #f5ca99;
    border-color: #f5ca99;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
    color: #1e2022;
    background-color: #f0b26b;
    border-color: #efac5f;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(213, 177, 135, 0.5);
}

.btn-danger {
    color: #fff;
    background-color: #de4437;
    border-color: #de4437;
}

.btn-danger:hover {
    color: #fff;
    background-color: #cd2f22;
    border-color: #c22d20;
}

.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #cd2f22;
    border-color: #c22d20;
    box-shadow: 0 0 0 0.2rem rgba(227, 96, 85, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #de4437;
    border-color: #de4437;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c22d20;
    border-color: #b72a1e;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(227, 96, 85, 0.5);
}

.btn-light {
    color: #1e2022;
    background-color: #f7faff;
    border-color: #f7faff;
}

.btn-light:hover {
    color: #1e2022;
    background-color: #d1e2ff;
    border-color: #c4daff;
}

.btn-light:focus, .btn-light.focus {
    color: #1e2022;
    background-color: #d1e2ff;
    border-color: #c4daff;
    box-shadow: 0 0 0 0.2rem rgba(214, 217, 222, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
    color: #1e2022;
    background-color: #f7faff;
    border-color: #f7faff;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: #1e2022;
    background-color: #c4daff;
    border-color: #b7d2ff;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(214, 217, 222, 0.5);
}

.btn-dark {
    color: #fff;
    background-color: #1e2022;
    border-color: #1e2022;
}

.btn-dark:hover {
    color: #fff;
    background-color: #0c0d0e;
    border-color: #060707;
}

.btn-dark:focus, .btn-dark.focus {
    color: #fff;
    background-color: #0c0d0e;
    border-color: #060707;
    box-shadow: 0 0 0 0.2rem rgba(64, 65, 67, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #1e2022;
    border-color: #1e2022;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #060707;
    border-color: black;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(64, 65, 67, 0.5);
}

.btn-indigo {
    color: #fff;
    background-color: #2d1582;
    border-color: #2d1582;
}

.btn-indigo:hover {
    color: #fff;
    background-color: #221061;
    border-color: #1e0e56;
}

.btn-indigo:focus, .btn-indigo.focus {
    color: #fff;
    background-color: #221061;
    border-color: #1e0e56;
    box-shadow: 0 0 0 0.2rem rgba(77, 56, 149, 0.5);
}

.btn-indigo.disabled, .btn-indigo:disabled {
    color: #fff;
    background-color: #2d1582;
    border-color: #2d1582;
}

.btn-indigo:not(:disabled):not(.disabled):active, .btn-indigo:not(:disabled):not(.disabled).active,
.show > .btn-indigo.dropdown-toggle {
    color: #fff;
    background-color: #1e0e56;
    border-color: #1a0c4b;
}

.btn-indigo:not(:disabled):not(.disabled):active:focus, .btn-indigo:not(:disabled):not(.disabled).active:focus,
.show > .btn-indigo.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 56, 149, 0.5);
}

.btn-navy {
    color: #fff;
    background-color: #21325b;
    border-color: #21325b;
}

.btn-navy:hover {
    color: #fff;
    background-color: #17233f;
    border-color: #131d36;
}

.btn-navy:focus, .btn-navy.focus {
    color: #fff;
    background-color: #17233f;
    border-color: #131d36;
    box-shadow: 0 0 0 0.2rem rgba(66, 81, 116, 0.5);
}

.btn-navy.disabled, .btn-navy:disabled {
    color: #fff;
    background-color: #21325b;
    border-color: #21325b;
}

.btn-navy:not(:disabled):not(.disabled):active, .btn-navy:not(:disabled):not(.disabled).active,
.show > .btn-navy.dropdown-toggle {
    color: #fff;
    background-color: #131d36;
    border-color: #10182c;
}

.btn-navy:not(:disabled):not(.disabled):active:focus, .btn-navy:not(:disabled):not(.disabled).active:focus,
.show > .btn-navy.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 81, 116, 0.5);
}

.btn-outline-primary {
    color: #377dff;
    border-color: #377dff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #377dff;
    border-color: #377dff;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #377dff;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #377dff;
    border-color: #377dff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.5);
}

.btn-outline-secondary {
    color: #71869d;
    border-color: #71869d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #71869d;
    border-color: #71869d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(113, 134, 157, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #71869d;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #71869d;
    border-color: #71869d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(113, 134, 157, 0.5);
}

.btn-outline-success {
    color: #00c9a7;
    border-color: #00c9a7;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #00c9a7;
    border-color: #00c9a7;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 201, 167, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #00c9a7;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #00c9a7;
    border-color: #00c9a7;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 201, 167, 0.5);
}

.btn-outline-info {
    color: #09a5be;
    border-color: #09a5be;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #09a5be;
    border-color: #09a5be;
}

.btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(9, 165, 190, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #09a5be;
    background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #09a5be;
    border-color: #09a5be;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(9, 165, 190, 0.5);
}

.btn-outline-warning {
    color: #f5ca99;
    border-color: #f5ca99;
}

.btn-outline-warning:hover {
    color: #1e2022;
    background-color: #f5ca99;
    border-color: #f5ca99;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(245, 202, 153, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #f5ca99;
    background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #1e2022;
    background-color: #f5ca99;
    border-color: #f5ca99;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(245, 202, 153, 0.5);
}

.btn-outline-danger {
    color: #de4437;
    border-color: #de4437;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #de4437;
    border-color: #de4437;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 68, 55, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #de4437;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #de4437;
    border-color: #de4437;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 68, 55, 0.5);
}

.btn-outline-light {
    color: #f7faff;
    border-color: #f7faff;
}

.btn-outline-light:hover {
    color: #1e2022;
    background-color: #f7faff;
    border-color: #f7faff;
}

.btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 250, 255, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #f7faff;
    background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
    color: #1e2022;
    background-color: #f7faff;
    border-color: #f7faff;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 250, 255, 0.5);
}

.btn-outline-dark {
    color: #1e2022;
    border-color: #1e2022;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #1e2022;
    border-color: #1e2022;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(30, 32, 34, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #1e2022;
    background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #1e2022;
    border-color: #1e2022;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(30, 32, 34, 0.5);
}

.btn-outline-indigo {
    color: #2d1582;
    border-color: #2d1582;
}

.btn-outline-indigo:hover {
    color: #fff;
    background-color: #2d1582;
    border-color: #2d1582;
}

.btn-outline-indigo:focus, .btn-outline-indigo.focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 21, 130, 0.5);
}

.btn-outline-indigo.disabled, .btn-outline-indigo:disabled {
    color: #2d1582;
    background-color: transparent;
}

.btn-outline-indigo:not(:disabled):not(.disabled):active, .btn-outline-indigo:not(:disabled):not(.disabled).active,
.show > .btn-outline-indigo.dropdown-toggle {
    color: #fff;
    background-color: #2d1582;
    border-color: #2d1582;
}

.btn-outline-indigo:not(:disabled):not(.disabled):active:focus, .btn-outline-indigo:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-indigo.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 21, 130, 0.5);
}

.btn-outline-navy {
    color: #21325b;
    border-color: #21325b;
}

.btn-outline-navy:hover {
    color: #fff;
    background-color: #21325b;
    border-color: #21325b;
}

.btn-outline-navy:focus, .btn-outline-navy.focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 50, 91, 0.5);
}

.btn-outline-navy.disabled, .btn-outline-navy:disabled {
    color: #21325b;
    background-color: transparent;
}

.btn-outline-navy:not(:disabled):not(.disabled):active, .btn-outline-navy:not(:disabled):not(.disabled).active,
.show > .btn-outline-navy.dropdown-toggle {
    color: #fff;
    background-color: #21325b;
    border-color: #21325b;
}

.btn-outline-navy:not(:disabled):not(.disabled):active:focus, .btn-outline-navy:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-navy.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 50, 91, 0.5);
}

.btn-link {
    font-weight: 400;
    color: #377dff;
    text-decoration: none;
}

.btn-link:hover {
    color: #0052ea;
    text-decoration: none;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: none;
    box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
    color: #8c98a4;
    pointer-events: none;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 1.125rem 1.125rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.5rem;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.625rem 1.125rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}

.themes-blocks-editor .editor {
    min-height: 400px !important;
}

.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #6c757d;
}

@media (min-width: 992px) {
    .collapse.serand-lg-show {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

.accordion-collapsible .card-header {
    border-bottom: none;
}

.accordion-collapsible .card-body {
    border-top: 1px solid #e7eaf3;
}

.blueimp-gallery.gallery-thumbnails > .indicator > li {
    width: 40px !important;
    height: 40px !important;
    background-size: contain !important;
}

.thumbnail .card-title {
    margin-bottom: 0;
}

.thumbnail .location {
    margin-bottom: 0.5rem;
    margin-top: 3px;
}

.thumbnail .card-title .text-dark {
    color: #1e2022 !important;
}

hr {
    border-color: #e7eaf3 !important;
}

.form-control {
    border-color: #e7eaf3 !important;
}

.dropdown-divider {
    border-color: #e7eaf3 !important;
}

.nav-tabs {
    border-color: #e7eaf3 !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #e7eaf3 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: #e7eaf3 !important;
}

.card {
    border-color: #e7eaf3 !important;
}

.card-header {
    border-color: #e7eaf3 !important;
}

.card-footer {
    border-color: #e7eaf3 !important;
}

.border {
    border-color: #e7eaf3 !important;
}

.border-top {
    border-color: #e7eaf3 !important;
}

.border-right {
    border-color: #e7eaf3 !important;
}

.border-bottom {
    border-color: #e7eaf3 !important;
}

.border-left {
    border-color: #e7eaf3 !important;
}

body,
.text-muted,
.text-secondary,
.navbar-light .navbar-nav .nav-link,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #677788 !important;
}

.thumbnail.infinity .card-body,
.thumbnail.infinity .card-header,
.thumbnail.infinity .card-footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.thumbnail.infinity .card {
    border: none !important;
}

iframe {
    border: none;
    margin: 0;
}

.rounded-60 {
    width: 60px;
    height: 60px;
    text-align: center;
}

.h-60px {
    height: 60px !important;
}

.text-android {
    color: #a4c639 !important;
}

.text-facebook {
    color: #3b5998 !important;
}

.text-messenger {
    color: #0084FF !important;
}

.text-email {
    color: #C6C6C6 !important;
}

.text-skype {
    color: #00aff0 !important;
}

.divider {
    border-color: #f3f3f3 !important;
}
