h1, .h1 {
    font-size: 22px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 18px;
}

h4, .h4 {
    font-size: 16px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 13px;
}

.invalid-feedback {
    font-size: 90%;
}

.form-help {
    font-size: 90%;
}

.hidden {
    display: none;
}

body {
    font-family: 'Oxygen', sans-serif;
    color: #333 !important;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

body, .btn, .dropdown-menu, .form-control {
    font-size: 14px;
}

.card {
    border: 1px solid #e7eaf3;
    border-radius: 0.3125rem;
}

.thumbnail .card .card-body {
    padding: 15px;
}

.thumbnail .badge {
    font-size: 12px;
}

.text-primary {
    color: #377dff !important;
}

.text-muted, .text-secondary {
    color: rgba(0, 0, 0, 0.54) !important;
}

.text-dark {
    color: #333 !important;
}

.navigation .navbar-brand {
    font-weight: bold;
}

.navigation .navbar-brand a {
    font-weight: bold;
}

.navigation.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.navigation .navbar-brand a {
    color: rgb(108, 117, 125);
}

.serand-hw-16 {
    width: 16px;
    height: 16px;
}

.serand-icon-text-16 img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.serand-icon-text-16 span {
    vertical-align: middle;
}

.themes-blocks-steps .nav-pills {
    position: relative;
}

.themes-blocks-steps .nav-pills .nav-link {
    background: none;
    color: #6c757d;
}

.themes-blocks-steps .nav-pills .nav-link.active {
    color: #007bff;
}

.themes-blocks-steps .rounded-circle {
    border: 2px solid;
    width: 75px;
    height: 75px;
    margin: auto;
    line-height: 5.2em;
    z-index: 2;
    position: relative;
    background-color: #ffffff;
}

.themes-blocks-steps .connecting-line {
    height: 2px;
    background: #6c757d;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.themes-blocks-uploads .remove-file {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #d9534f;
}

.title-text {
    font-weight: 500;
}

.themes-blocks-editor .editor {
    min-height: 400px !important;
}

.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.themes-blocks .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #6c757d;
}

@media (min-width: 992px) {
    .collapse.serand-lg-show {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

.accordion-collapsible .card-header {
    border-bottom: none;
}

.accordion-collapsible .card-body {
    border-top: 1px solid rgba(0,0,0,.125);
}
