body h1 {
    font-size: 2rem;
}

body h2 {
    font-size: 1.75rem;
}

body h3 {
    font-size: 1.5rem;
}

body h4 {
    font-size: 1.25rem;
}

body h5 {
    font-size: 1rem;
}

.hidden {
    display: none;
}

body {
    font-family: 'Oxygen', sans-serif;
}

.themes-blocks-steps .nav-pills {
    position: relative;
}

.themes-blocks-steps .nav-pills .nav-link {
    background: none;
    color: #6c757d;
}

.themes-blocks-steps .nav-pills .nav-link.active {
    color: #007bff;
}

.themes-blocks-steps .rounded-circle {
    border: 2px solid;
    width: 75px;
    height: 75px;
    margin: auto;
    line-height: 5.2em;
    z-index: 2;
    position: relative;
    background-color: #ffffff;
}

.themes-blocks-steps .connecting-line {
    height: 2px;
    background: #6c757d;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.title-text {
    color: #6c757d!important;
    font-weight: 500;
}

.themes-blocks-editor .editor {
    min-height: 400px!important;
}

.themes-blocks .bootstrap-select>.dropdown-toggle.bs-placeholder,
.themes-blocks .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.themes-blocks .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.themes-blocks .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #6c757d;
}
